body {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

h1 {
    color: #333;
}

canvas {
    border: 2px solid black;
    background-color: lightgray;
    /* display: flex; */
    /* margin: 0 auto; */
}

div{
    border: none;
}

button{
    padding: 5px;
}

button :disabled{
    color:white;
}

.mainContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navBar {
    height: 50px;
    width: 100%;
    background-color: black;
}

.mainArea {
    width: 100% ;
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.navVertical {
    flex-grow: 1;
    height:100%;
    padding: 0px 10px 0px 10px;
}

.navLeft{
    width: 100px;
}

.navRight {
    width: 100px;
}

.divMoveCounter {
    display: flex;
    justify-content: center;
    padding: 20px 0px 0px 0px;
    flex-direction: column;
}

.dropdownContent {
    display: none;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
}

.show {
    display: flex;
}

.overlay {
	z-index: 1;
	position: absolute;
	background: black;
	height: 100vh;
	width: 100%;
	top: 0;
	opacity: 30%;
	display: none;
	justify-content: center;
	flex-direction: column;
}

.divPopup {
	color: black;
	z-index: 4;
	background: white;
	position: absolute;
	top: 50%;	
    left: 50%;
	height: 100px;
	width: 400px;
	margin: -50px -200px;
	display: none;
}